# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGODB_URI=mongodb://localhost:27017/e-commerce-db

# JWT Security
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d

# CORS Allowed Origins (Comma-separated for multiple origins)
CORS_ORIGIN=http://localhost:5173,http://localhost:3000

# Cloudinary Config (for Image Uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Nodemailer SMTP Config (for Emails/OTP)
EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=586
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
